@model IEnumerable<ModelLayer.ViewModels.StoreViewModel>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "StoreInvertory2";
}

<h1>StoreInvertory2</h1>
@if ((await AuthorizationService.AuthorizeAsync(User, "IsAdmin")).Succeeded)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @*Two of these will be taken out or replaced with other stuff*@
                @Html.DisplayNameFor(model => model.productId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_store)
                </td>
                <td>
                    <form>
                        qty: <input type="number" name="qty" placeholder="1" value="1" />
                        <input type="hidden" name="productid" value="@item.productId" readonly />
                        <input type="hidden" name="ID_store" value="@item.ID_store" readonly />
                        <input type="hidden" name="sale" value="@item.sale" readonly />
                        @*                   <input type="hidden" name="productName" value="<%Session.Contents(0)" />*@
                        <button type="submit" asp-controller="Cart" asp-action="AddToCart">Add To Cart</button>
                    </form>
                </td>

                @if ((await AuthorizationService.AuthorizeAsync(User, "IsAdmin")).Succeeded)
                {
                    <td>
                        @Html.ActionLink("EditProduct", "EditProduct", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("DeleteProduct", "DeleteProduct", new { /* id=item.PrimaryKey */ })
                    </td>
                }
                else
                {
                    <td>
                        <a></a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
